<div class="col-md-9 topspace">
  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="default" color="#fff" type="ball-spin-fade-rotating" bdOpacity=0.5>

  </ngx-spinner>
  <div class="main_content">
      <div>
          <table class="table">
              <thead>
                  <tr>
                      <th style="display:none">Id</th>
                      <th>Sr. No. </th>
                      <th>Shop Name </th>
                      <th>Barcode </th>
                      <th>Add/Delete Boxes</th>

                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let shop of ShopList; let i = index">
                      <td style="display:none">{{shop.shopId}} </td>
                      <td>{{i+1}}</td>
                      <td> {{shop.shop_name}}</td>
                      <td title="{{shop.barcode}}"> {{shop.barcode | slice:0:50}} ....</td>
                      <td class="pdf ">
                                      <button  (click)='showDetails(shop.shopId,shop.shop_name)'  class="btt"  type="button" ><img
                                          src="../../../assets/images/briefcase.png" style="height:16px" /></button>
                                      
                      </td>
                  </tr>
              </tbody>
          </table>

      </div>


  </div>

   <div class="content" id="addVehicle" *ngIf='showBoxes'> 
      <div class="col-md-12">
          <div class="fomr_section load_list_view">
              <h3 class="form_title"> Add Box To <b>{{ShopName}}</b> </h3>
              <span (click)='reset()' class="cancl">Cancel</span>
              <form [formGroup]="loadForm" (ngSubmit)="addLoad()">
                  <div class="row-fluid">

                      <div class="col-md-12">
                        <h3>Enter Box Details Here</h3>

                          <div class="cards_design">
                             
                              <span>
                                  <input type="text" formControlName="id" class="form-control" placeholder="Enter Box Details"
                                  [ngClass]="{ 'is-invalid': submitted && f.id.errors }">
                                  <button class="btn_backk bt" type="button" (click)='addbox()'> Add Box</button>
                              </span>
                              <div *ngIf="submitted && f.id.errors" class="invalid-feedback">
                                  <p class="error-message" *ngIf=" f.id.errors.required">
                                     Box Detail is required!
                                  </p>
                              </div>
                              <div class="col-md-12" *ngIf='oldboxes.length>0 || boxes.length>0'>
                                  <p>Added Boxes: </p>
                                  <ul *ngIf='oldboxes.length>0'>
                                      <li *ngFor='let ob of oldboxes'>
                                        <b>{{ob.barcode}}</b>
                                      </li>
                                    </ul>
                                    <ul *ngIf='boxes.length>0'>
                                      <li *ngFor='let box of boxes; let i = index '>
                                          <b>{{box.barcode}}</b>
                                          <a (click)='remove(i)' title="remove"><i
                                                  class="glyphicon glyphicon-trash"></i></a>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                          <div class="col-md-12">
                          
                            <div class="cards_design">
                            <span>
                               Enter Amount  <input style="width: 100%;" type="text" formControlName="amount" class="form-control" placeholder="Amount"
                                [ngClass]="{ 'is-invalid': submitted && f.amount.errors }">
                                
                            </span>
                            <div *ngIf="submitted && f.amount.errors" class="invalid-feedback">
                                <p class="error-message" *ngIf=" f.amount.errors.required">
                                   Amount is required!
                                </p>
                            </div>
                        </div>

                          </div>
                      </div>
                      <div class="col-md-12">
                         
                          <button class="btn_back bt" type="button" (click)='saveBoxes()'> Save Boxes</button>

                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div> 