<div class="col-md-9 topspace">
    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="default" color="#fff" type="ball-spin-fade-rotating" bdOpacity=0.5>

      </ngx-spinner>
  <div class="main_content">

    <div class="sb_title">
      <h3> Customer List <a class="add_btn" [routerLink]="'/dispatcher/add'"> <i class="glyphicon glyphicon-plus"></i>
          Add Customer</a></h3>

    </div>
    <ngx-tabset (onSelect)="dispatcher($event)">

      <ngx-tab tabTitle="{{tab.title}}" *ngFor="let tab of tabBar;let i = index" [active]="i == 0">
        <div class="tab-pane active">
          <div class="row-fluid">
              <span>Total records - {{pager.totalItems}}</span>
            <div>
                    <form [formGroup]="carrierForm"  >
              <table class="table">
                <thead>
                  <tr>
                    <th style="display:none">Id</th>
                    <th>S.No </th>
                    <th>Legal Name </th>
                    <th>DBA Name </th>
                    <th>Email </th>
                    <th>Phone </th>
                    <th>Number of Trucks </th>
                    <!-- <th>Status</th> -->
                    <th>Action </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let carrier of carrierData; let i = index">
                    <td style="display:none">{{carrier.id}} </td>
                    <td>{{i + pager.startIndex + 1}} </td>
                    <td> {{carrier.legalName}}</td>
                    <td> {{carrier.dbaName}}</td>
                    <td>{{carrier.email}} </td>
                    <td>{{carrier.phone}} </td>
                    <td>{{carrier.noofTrucks}} </td>
                    <!-- <td>
                        <select (change)="updateStatus(carrier.id,$event.target.value)" class="form-control">
                          <option value="" disabled>Select</option>
                          <option value="1" [selected]="carrier.status == 1">Lead</option>
                          <option value="2" [selected]="carrier.status == 2">Perspective</option>
                          <option value="3" [selected]="carrier.status == 3">Customer</option>
                        </select>

                    </td> -->
                    <td class="pdf ">
                      <a [routerLink]="['/dispatcher/edit', carrier.id]" title="Edit"><i
                          class="glyphicon glyphicon-pencil"></i></a>
                      <a (click)="deleteCustomer(carrier.id)"><i class="glyphicon glyphicon-trash"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
              </form>
              <div class="col-md-9">
                <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                  <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item first-item">
                    <a [routerLink]="['/dispatcher/view/',type]" [queryParams]="{ page: 1 }" class="page-link">First</a>
                  </li>
                  <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item previous-item">
                    <a [routerLink]="['/dispatcher/view/',type]" [queryParams]="{ page: pager.currentPage - 1 }"
                      class="page-link">Previous</a>
                  </li>
                  <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}"
                    class="page-item number-item">
                    <a [routerLink]="['/dispatcher/view/',type]" [queryParams]="{ page: page }"
                      class="page-link">{{page}}</a>
                  </li>
                  <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item next-item">
                    <a [ngClass]="{disabled:pager.currentPage === pager.totalPages}"
                      [routerLink]="['/dispatcher/view/',type]" [queryParams]="{ page: pager.currentPage + 1 }"
                      class="page-link">Next</a>
                  </li>
                  <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item last-item">
                    <a [routerLink]="['/dispatcher/view/',type]" [queryParams]="{ page: pager.totalPages }"
                      class="page-link">Last</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </ngx-tab>
    </ngx-tabset>


  </div>
</div>
