<div class="col-md-9 topspace">
    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="default" color="#fff" type="ball-spin-fade-rotating" bdOpacity=0.5>

      </ngx-spinner>
  <div class="main_content">

    <div class="sb_title">
      <h3> My Buyers <a class="add_btn" [routerLink]="'/buyer/add'"> <i class="glyphicon glyphicon-plus"></i>
          Add Buyer</a></h3>

    </div>
    <!-- <ngx-tabset (onSelect)="dispatcher($event)"> -->

      <!-- <ngx-tab tabTitle="{{tab.title}}" *ngFor="let tab of tabBar;let i = index" [active]="i == 0"> -->
        <div class="tab-pane active">
          <div class="row-fluid">
            <div>
                    <form [formGroup]="carrierForm"  >
              <table class="table">
                <thead>
                  <tr>
                    <th style="display:none">Id</th>
                    <th>S.No </th>
                    <th>Name </th>
                    <th>Email </th>
                    <th>Phone </th>
                    <th>Address </th>
                    <th>Out For Delivery </th>
                    <th>Received Back </th>
                    <!-- <th>routeId </th> -->
                    <th>Missing </th>

                  
                    <th>Action </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let carrier of carrierData; let i = index">
                    <td style="display:none">{{carrier.shopId}} </td>
                    <td>{{i + 1}} </td>
                    <td> {{carrier.shop_name}}</td>
                    <td>{{carrier.shop_email}} </td>
                    <td>{{carrier.shop_mobile_number}} </td>
                    <td>{{carrier.shop_address}} </td>
                    <td>{{carrier.outforDelivery}} </td>
                    <td>{{carrier.received_back}} </td>
                    <td>{{carrier.missing}} </td>

                    <!-- "outforDelivery": 2,
                    "received_back": 1,
                    "routeId": 1,
                    "missing": 1 -->
                   
                    <td class="pdf ">
                      <a [routerLink]="['/buyer/edit', carrier.shopId]" title="Edit"><i
                          class="glyphicon glyphicon-pencil"></i></a>
                      <a (click)="deleteCustomer(carrier.shopId)"><i class="glyphicon glyphicon-trash"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
              </form>
              
            </div>
          </div>
        </div>
      <!-- </ngx-tab> -->
    <!-- </ngx-tabset> -->


  </div>
</div>
