<div  class="col-md-9 topspace">
        <ngx-spinner
        bdColor="rgba(51,51,51,0.8)"
        size="default"
        color="#fff"
        type="ball-spin-fade-rotating"
        bdOpacity = 0.5 >
        
      </ngx-spinner>
        <div class="main_content">
            
            <div class="sb_title">
                <h3> Broker List  <a class="add_btn" [routerLink]="'/broker/add'"> <i class="glyphicon glyphicon-plus"></i> Add Broker</a></h3>
            <span>Total records - {{pager.totalItems}}</span>

                
            </div>
                
    <div >
    <table class="table" >
        <thead>
            <tr>
                <th style="display:none">Id</th>
                <th>S.No </th>
                <th>Name </th>
                <th>Email </th>
                <th>Phone </th>
                <th>Action </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let Broker of customerData; let i = index">
                <td style="display:none">{{Broker.id}} </td>
                <td>{{i + 1}} </td>
                <td>  {{Broker.name}}</td>
                <td>{{Broker.email}} </td>
                <td>{{Broker.phone}} </td>
                <td class="pdf "> 
                    <a [routerLink]="['/broker/edit', Broker.id]"  title="Edit"><i class="glyphicon glyphicon-pencil"></i></a>
                    <a  (click)="deleteCustomer(Broker.id)"><i class="glyphicon glyphicon-trash"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="col-md-9">
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item first-item">
                    <a [routerLink]="['/broker/view']" [queryParams]="{ page: 1 }" class="page-link">First</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item previous-item">
                    <a [routerLink]="['/broker/view']" [queryParams]="{ page: pager.currentPage - 1 }" class="page-link">Previous</a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item number-item">
                    <a [routerLink]="['/broker/view']" [queryParams]="{ page: page }" class="page-link">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item next-item">
                    <a [routerLink]="['/broker/view']" [queryParams]="{ page: pager.currentPage + 1 }" class="page-link">Next</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item last-item">
                    <a [routerLink]="['/broker/view']" [queryParams]="{ page: pager.totalPages }" class="page-link">Last</a>
                </li>
            </ul>    </div>
    </div>
    
    
        </div>
    </div>