<section>
    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="default" color="#fff" type="ball-spin-fade-rotating" bdOpacity=0.5>

      </ngx-spinner>
<div class="col-md-9 topspace"> 
    <div class="content">
            <div class="col-md-12">
                <div class="fomr_section">
                    <h3 class="form_title"> Vehicle Detail</h3>
                     <form  [formGroup]="shipperForm" (ngSubmit)="editShipper()">
                     <div class="row-fluid">
                      <div class="col-md-12">
                          <div class="form-group">
                            <label> Vehicle Name </label>
                            <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" formControlName="name" placeholder="Enter Vehicle Name">
                          </div>
                          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                            <p class="error-message" *ngIf=" f.name.errors.required">
                              Vehicle Name is required!
                              </p>
                             
                        </div>
                      </div>
                      <div class="col-md-12">
                          <div class="form-group">
                            <label >Current Kms.</label>
                            <input type="text" class="form-control" formControlName="phone"  placeholder="Enter Current Kms." [ngClass]="{ 'is-invalid': submitted && f.phone.errors }">
                          </div>
                          <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                            <p class="error-message" *ngIf=" f.phone.errors.required">
                              Current Kms. is required!
                              </p>
                              <p class="error-message" *ngIf="f.phone.errors.pattern">
                                Current Kms. must be valid !
                              </p>
                        </div>
                      </div>
                      </div>
                      <!-- </div> -->
                      <div class="col-md-12" style="text-align:center;">
                        <button type="submit " class="btn btn-default btn_back">Update</button>
                      </div>
                    </form> 
                </div>
            </div>
</div>
</div>
</section>

