<section>

    <div class="col-md-9 col-md-offset-3">
        <div class="content">
            <div class="row pading_row">
                <div class="col-md-5 md" style="
                background: #fbb565;
                padding: 10px;
            ">
                    <h4 style="
border-bottom: 2px solid;
padding: 5px;
">TOTE LOGS</h4>
                    <!-- <ul class="ov_boxes">
                      
                        <li>
                                <a  >
                                    
                            <div class="p_bar_up p_canvas"><img src="../../assets/images/container.png"></div>
                            <div class="ov_text">
                                <strong>$43 567,43</strong>
                                
                                <h2>Loads</h2>
                            </div>
                        </a>
                        </li>
                        <li>
                                <a  >
                            <div class="p_bar_up p_canvas"><img src="../../assets/images/van.png"></div>
                            <div class="ov_text">
                                <strong>2304</strong>
                                <h2>
                                    Shippers

                                </h2>
                            </div>
                        </a>
                        </li>
                       
                    </ul> -->
                    <div class="sd" *ngFor="let g of gloabal">
                        <div class="col-md-6 ds">
                            Route Name <span> <b>{{g.route_name}}</b></span>

                        </div>
                        <div class="col-md-6 ds">
                            Delivery Man <span><b>{{g.deliveryman_name}}</b></span>

                        </div>

                        <span class='col-md-12 nf' *ngIf='g.shop.length ==0'>No records found ! </span>
                        <table class="table" *ngIf='g.shop.length >0'>
                            <thead>
                                <tr>
                                    <th style="display:none">Id</th>
                                    <th>Shop Name </th>
                                    <th>Total Totes </th>
                                    <th>prev. Totes </th>
                                    <th>Missing Totes </th>


                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let gs of g.shop; let i = index">
                                    <td>{{gs.shop_name}} </td>
                                    <td>{{gs.TodayTotes}} </td>
                                    <td>{{gs.PreviousTotes}} </td>
                                    <td>{{gs.missing}} </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="col-md-1"></div>
                <div class="col-md-5 md" style="
                background: #fbb565;
                padding: 10px;
            ">
                    <h4 style="
                  border-bottom: 2px solid;
                  padding: 5px;
                  ">INVOICE LOGS</h4>

                    <div  class="sd" *ngFor="let i of invoice">
                        <div  class="col-md-12 ds">
                            Route Name <span> <b>{{i.route_name}}</b></span>

                        </div>


                        <span class='col-md-12 nf' *ngIf='i.shop.length ==0'>No records found ! </span>
                        <table class="table" *ngIf='i.shop.length >0'>
                            <thead>
                                <tr>

                                    <th>Shop Name </th>
                                    <th>Due </th>
                                    <th>Paid Amount</th>
                                    <th>Total Paid Amount </th>


                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let gss of i.shop; let ii = index">
                                    <td>{{gss.shop_name}} </td>
                                    <td>{{gss.due}} </td>
                                    <td>{{gss.paid_amount}} </td>
                                    <td>{{gss.total_paid_amount}} </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
            <!-- <div class="row pading_row">
                    <div class="col-md-12">
                        <ul class="dshb_icoNav tac">
                            <li><a  style="background-image: url(../../assets/images/world.png)">Customers</a></li>
                            <li><a  style="background-image: url(../../assets/images/lab.png)">Shipper</a></li>
                            <li><a  style="background-image: url(../../assets/images/van.png)">Load</a></li>
                        </ul>
                    </div>
                </div> -->
            <!-- <div class="row pading_row">
                    <div class="col-md-6">
                        <div class="upr_map">
                        <h3 class="heading"> Invoice  
                                <div class="btn-group right_side">
                                    <button data-toggle="dropdown" class="btn dropdown-toggle">Weekly <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Weekly</a></li>
                                        <li><a href="#">Monthly</a></li>
                                        <li><a href="#">Yearly</a></li>
                                    </ul>
                                </div>
                        </h3>
                        <img src="https://blog.e2language.com/wp-content/uploads/2017/11/Picture1.png">
                    </div>
                    </div>
                        <div class="col-md-6">
                                <div class="upr_map">
                                        <h3 class="heading">Invoice Second
                                            <div class="btn-group right_side">
                                                <button data-toggle="dropdown" class="btn dropdown-toggle">Weekly	 <span class="caret"></span></button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Weekly</a></li>
                                                    <li><a href="#">Monthly</a></li>
                                                    <li><a href="#">Yearly</a></li>
                                                </ul>
                                            </div>
                                        
                                        </h3>
                                        <img src="https://matplotlib.org/3.1.1/_images/sphx_glr_bar_stacked_001.png">
                                
                            </div>
                    </div>
            </div> -->
        </div>
    </div>
</section>