<section>
    <ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="default"
    color="#fff"
    type="ball-spin-fade-rotating"
    bdOpacity = 0.5 >
    
  </ngx-spinner>
  <div class="col-md-9 topspace">
    <div class="content">
      <div class="col-md-12">
        <div class="fomr_section load_list_view">
          <h3 class="form_title"> Add Route</h3>
          <form [formGroup]="loadForm" (ngSubmit)="addLoad()">
            <div class="row-fluid">

              
              <div class="col-md-12">
                <div class="cards_design">
                  <h2>Route</h2>
                  <h3>  Name
                    <span>
                      <input type="text" formControlName="loadTerm" class="form-control" placeholder="Enter route name"
                        [ngClass]="{ 'is-invalid': submitted && f.loadTerm.errors }">
                    </span>
                    <div *ngIf="submitted && f.loadTerm.errors" class="invalid-feedback">
                      <p class="error-message" *ngIf=" f.loadTerm.errors.required">
                        Name is required!
                      </p>
                    </div>
                  </h3>
                  
                   
                </div>
              </div>
            </div>
          
            
          

           

          

            <div class="col-md-12" style="text-align:center;">
              <button type="submit " class="btn btn-default btn_back">Add</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
