<div  class="col-md-9 topspace">
        <div class="main_content">
            
            <div class="sb_title">
                <h3> Delivery Man List  <a class="add_btn" [routerLink]="'/driver/add'"> <i class="glyphicon glyphicon-plus"></i> Add Driver</a></h3>
                
            </div>
                
    <div >
    <table class="table" >
        <thead>
            <tr>
                <th style="display:none">Id</th>
                <th>Name </th>
                <th>Email </th>
                <th>Phone </th>
                <th>Action </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let driver of driverList; let i = index">
                <td style="display:none">{{driver.deliverymanId}} </td>
                <td>  {{driver.deliveryman_name}}</td>
                <td>{{driver.deliveryman_email}} </td>
                <td>{{driver.deliveryman_mobile_number}} </td>
               
                <td class="pdf"> 
                        <!-- <a [routerLink]="['/driver/viewDetails', driver.deliverymanId]"  title="View Schedule Details"><i class="glyphicon glyphicon-time"></i></a> -->
                    <a [routerLink]="['/driver/edit', driver.deliverymanId]"  title="Edit"><i class="glyphicon glyphicon-pencil"></i></a>
                    <a  (click)="deleteDriver(driver.deliverymanId)"><i class="glyphicon glyphicon-trash"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
   
    </div>
    
    
        </div>
    </div>